@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html{
  font-size: 62.5%;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-image: radial-gradient(#4d97eb 0.8px, transparent 0px);
  background-size: 30px 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container{
  padding: 100px 50px;
}

:root{
  --bg-color: white;
  --text-color: #1A1A1A;
  --grey-white-toggle: white;
}

.dark-theme{
  --bg-color: #1A1A1A;
  --text-color: white;
  --grey-white-toggle: #222222;
}

/* ------------NAV AND HEADER------------ */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 4%;
  font-size: 1.7rem;
  background-color: var(--grey-white-toggle);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
}
nav div{
  display: flex;
  align-items: center;
}

nav h1{
  font-size: 2.3rem;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin-left: 4rem;
}

nav ul li a{
  text-decoration: none;
  color: var(--text-color);
  transition: .2s;
}

nav ul li a:hover{
  color: #4d97eb;
}

nav .contact-and-switch-div{
  display: flex;
  align-items: center;
}

nav .switch{
  margin-left: 2rem;
  position: relative;
  display: inline-block;
  width: 6.2rem;
  height: 3.4rem;
}

nav label input{
  opacity: 0;
  width: 0;
  height: 0;
}

nav .switch .slider{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #ccc;
  position: absolute;
}

nav .switch .slider:before{
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: .4rem;
  bottom: .4rem;
  background-color: rgb(55, 55, 55);
  -webkit-transition: .4s;
  transition: .4s;
}

nav .switch input:checked + .slider {
  background-color: #fff;
}

nav .switch input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

nav .switch input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
  background-color: #4d97eb;
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}
/* -------------NAV------------ */


/* -----------HEADER----------- */
#header .header-body h1{
  font-size: 4rem;
  margin-bottom: 20px;
}

#header .header-body h3{
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 180%;
}

.social-media{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-media .social-handle{
  text-decoration: none;
  font-size: 2.4rem;
  /* color: black; */
  color: var(--text-color);
}

.social-media .social-handle i{
  display: flex;
  transition: .3s;
}

.social-media .social-handle i:hover{
  transform: scale(1.5);
  color: #4d97eb;
}
/* -----------HEADER----------- */


/* -----------WORKS-------------- */
#works{
  position: relative;
}

/* work */
.work-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.work-container .work{
  /* background-color: white; */
  background-color: var(--grey-white-toggle);
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 12px;
  transition: transform .3s;
  border-radius: 5px;
}

.work-container .work:hover{
  transform: translate(0, -10px);
}

.work-container .work .image{
  background-color: #4d97eb;
  padding: 30px;
  border-radius: 5px;
}

.work-container .work img{
  width: 100%;
  object-fit: contain;
  transition: transform .3s;
}

.work-container .work img:hover{
  transform: scale(1.1);
}

.work-container .work h3{
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

.work-container .work a{
  text-decoration: none;
  /* color: black; */
  color: var(--text-color);
}

.work-container .work a:hover{
  color: #4d97eb;
}

.work-container .work p{
  display: inline;
  margin-right: 10px;
  background-color: #bbdafc;
  padding: 5px 10px;
  font-size: 1.3rem;
  color: #0052b0;
  border-radius: 5px;
}
/* -----------WORKS-------------- */


/* ------------SKILLS------------ */
.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.skills-container .skill{
  text-align: center;
  /* background-color: white; */
  background-color: var(--grey-white-toggle);
  color: var(--text-color);
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 12px;
  transition: .3s;
  border-radius: 5px;
}

.skills-container .skill:hover{
  transform: translate(0, -10px);
  background-color: #4d97eb;
  color: white;
}

.skills-container .skill i, .icon-js{
  display: inline-block;
  font-size: 5rem;
  color: #4d97eb;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #cce5ff;
  border-radius: 50%;
}

.skills-container .skill h3{
  font-size: 1.8rem;
}
/* ----------------SKILLS----------------- */


/* -----------------CERTIFICATES-------------- */
.certificates-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.certificates-container .certificate{
  text-align: center;
  /* background-color: white; */
  background-color: var(--grey-white-toggle);
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 12px;
  transition: .3s;
  border-radius: 5px;
}

.certificates-container .certificate img{
  width: 100%;
}
/* -----------------CERTIFICATES-------------- */


/* -------------FOOTER--------------- */
footer .foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background-color: rgba(35, 35, 35, 0.776);
  color: white;
  padding: 20px;
}

footer .foot .social-media{
  margin: 0;
}

footer .foot .social-media i{
  color: white;
}

footer .foot .number-mail h3{
  letter-spacing: 2px;
  font-weight: 500;
  transition: transform .3s;
  cursor: pointer;
}

footer .foot .number-mail h3:hover{
  color: #4d97eb;
  transform: scale(1.2);
}

footer .foot .number-mail{
  display: flex;
  gap: 40px;
}

footer .foot .copyright{
  display: flex;
  align-items: center;
}

footer .foot .copyright i{
  font-size: 1.4rem;
  margin-right: 5px
}

footer .foot .copyright h3{
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color .3s;
}

footer .foot .copyright h3:hover{
  color: #4d97eb;
}
/* -------------FOOTER--------------- */


/* -------------RESPONSIVENESS------------- */
nav .close-btn, .menu-btn{
  display: none;
  margin-left: 15px;
  font-size: 2.6rem;
  cursor: pointer;
}

@media (max-width: 400px){
  html{
    font-size: 40%;
  }
}

@media (max-width: 600px){
  html{
    font-size: 50%;
  }
}

@media (max-width: 800px){

  nav .menu-btn{
    display: inline-block;
    transition: .2s;
  }

  nav .menu-btn:hover{
    color: #4d97eb;
  }

  nav .close-btn{
    transition: .2s;
  }

  nav .close-btn:hover{
    color: #4d97eb;
  }

  nav ul{
    position: fixed;
    width: 100%;
    background-color: var(--grey-white-toggle);
    top: -250px;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
    z-index: -1;
  }

  nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 2rem;
  }
}

@media (max-width: 820px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 900px){
  footer .foot{
    flex-direction: column;
    row-gap: 40px;
  }

  footer .foot .number-mail{
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
  }
}

@media (min-width: 1290px){
  html{
    font-size: 75%;
  }
}